/*Posso modificare la dimensione assoluta di tutti i testi del body 
body{
    font-size: 20px;
}
*/

@font-face {
    font-family: "Urban Ranger";
    src: url(../fonts/Urban-Ranger.otf) format('opentype');
}

:root{
    font-size: 25px;
}

#t1{
    font-size: 1rem; /*1rem = 16px */
    color: #fc7;
    font-weight: 700;
}

#t2{
    font-size: 16px;
    color: rgb(0,0,0,0.5);
    font-style: italic;
}

#parent{
    font-size: 50px;
}
#t3{
    font-size: 1em;
    font-family: Urban Ranger;
}